/* Inicio de estilo del nav */
nav.barra-lateral {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 65px;
    background-color: #122465;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(50, 50, 50, 0.3);
    transition: width 0.4s;
    z-index: 1000;
}
nav.barra-lateral:hover {
    width: 150px; 
}

nav.barra-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px; /* Dejar espacio para la foto de perfil */
}

nav.barra-lateral li {
    width: 100%;
    text-align: left;
    margin-top: 1%;
}

nav.barra-lateral a {
    display: flex;
    align-items: center;
    width: 110%;
    padding: 10px 15px; /* Ajusta espaciado */
}


nav.barra-lateral a:hover {
    background-color: #4c5bff; 
}
nav.barra-lateral a .nav-item {
    margin-left: 10px;
    opacity: 0; 
    transition: opacity 0.3s;
    white-space: nowrap; 
}
nav.barra-lateral:hover a .nav-item {
    opacity: 1; 
}
nav.barra-lateral i {
    font-size: 18px; 
}
/* Fin de estilo del nav */
.logo {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px 0;
}
.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    filter: brightness(0) invert(1);
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 10px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.3s;
}
nav.barra-lateral:hover .logo span {
    opacity: 1; 
}

.logout {
    background: none;
    border: none;
    color: white;
    font-family: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
    display: flex;
    align-items: center;
    width: 110%;
    white-space: nowrap; 
}

.logout:hover {
    background-color: #4c5bff;
}

.logout .item-menu {
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.barra-lateral:hover .logout .item-menu {
    opacity: 1;
}

/* Sidebar.module.css */

/* Contenedor para la imagen y el nombre de perfil */
.profileContainer {
    position: absolute;
    bottom: 20px; /* Pegado abajo */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profileLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profileName {
    font-size: 14px;
    font-weight: bold;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
}

.barra-lateral:hover .profileName {
    opacity: 1;
}

