*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del cuerpo */
body {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Fondo neutro para resaltar elementos */
    width: 100%;
    height: auto; /* Permite que crezca según el contenido */
    overflow-x: hidden; /* Evita scroll horizontal */
}

/* Estilo del banner */
header{
    text-align: center;
}
/* Estilo del header */
header.banner {
    display: flex;
    flex-direction: column;
    align-items: center;   /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    min-height: 100px;
    background: linear-gradient(to right, #0a173f, #205fb8);
    color: #ffffff;
    text-align: center;
    padding: 2% 10%;
    overflow: hidden;
    margin: 0;
    z-index: 1;
}


/* Estilo del logo */
header .logo {
    filter: brightness(0) invert(1);        
    max-width: 150px;
    height: auto;
    border-radius: 10%;
}


/* Estilo de los textos */
/* Textos */
header h1 {
    color: white;
    margin-top: 100px;
    font-size: 3rem;
    font-weight: bold;
}

header h4 {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 300;
}


/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    header.banner {
        padding: 5% 5%;
        min-height: 500px;
    }

    header .logo {
        max-width: 140px; /* Ajusta el tamaño del logo */
    }

    header h1 {
        font-size: 2.5rem; /* Reduce el tamaño del título */
    }

    header h4 {
        font-size: 1.2rem; /* Reduce el subtítulo */
    }
}

/* Estilo de la barra de navegación */
nav.navbar {
    background: #141823;
    padding: 10px 11%;
    position: sticky;
    top: 0; 
    z-index: 1000;
    box-shadow: 0 4% 8% rgba(185, 159, 123, 0.1);
     transition: top 0.4s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.6s ease;
    opacity: 1;
   
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 8%;
    height: 0.1%;
}

nav ul li {
    margin: 0 6%;
    position: relative;
    transition: background 0.3s ease;
}

nav ul li a {
    width: 100%;
    display: block;
    height: auto;
    color: #fff;
    text-decoration: none;
    padding: 8px 0;
    text-align: center;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
    font-size: 16px; 
    line-height: 1.5; 
}
/* Mejoras en el hover: subrayado personalizado */
nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li a:hover {
    background: #99999982;
    color: #fff;
}


@media (max-width: 1024px) {
    nav.navbar {
        padding: 0.5% 5%;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 0 0 2% 0;
        width: 100%;
    }

    nav ul li a {
        padding: 5% 10%;
        text-align: left;
    }
}

/* Responsivo para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    nav.navbar {
        padding: 0.5% 2%;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 0 0 2% 0;
        width: 100%;
    }

    nav ul li a {
        padding: 5% 5%;
        text-align: left;
    }
}

/* Estilo del cuerpo principal */
main {
    padding: 2%;
}

/* Estilo de las secciones */
.intro, .about, .services, .contact {
    margin-bottom: 80px;
}

h2 {
    text-align: center;
    font-size: 2.75rem;
    color: #004aa3;
    border-bottom: 2px solid #000000;
    padding-bottom: 40px;
    margin-bottom: 40px;
    font-weight: 700;
}
p {
    text-align: center; 
    font-size: 20px; 
    color: #353535;
    padding: 1px 15px; 
    margin: 0 auto; 
    max-width: 600px; 
}
/* Estilo de las tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(179, 179, 179, 0.228);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    height: 100%; /* Deja que el contenedor ajuste según el más alto */
    display: flex;
    flex-direction: column; /* Para que el contenido se organice verticalmente */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-12px);
    box-shadow: 0 12px 24px rgba(101, 101, 101, 0.25);
}

.card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Hace que el contenido llene el espacio restante */
    justify-content: space-between; /* Esto empuja el botón hacia abajo */
}

.card-body h3 {
    margin-top: 0;
    font-size: 1.75rem;
    color: #006eff;
    font-weight: 600;
}

.card-body p {
    font-size: 1rem;
    color: #666;
}

.card-body .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #205fb8;
    text-decoration: none;
    border-radius: 20px;
    transition: background 0.3s, color 0.3s;
}

.card-body .btn:hover {
    background: #0a173f;
    color: #fff;
}

/* Estilo de la sección de contacto */
.contact {
    background: #e0e0e032;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.012);
    margin-top: 70px;
}

.contact h2 {
    font-size: 2.75rem;
    margin-bottom: 20px;
    text-align: center;
}

.contact p {
    font-size: 1rem;
    color: #313131;
    text-align: center;
    margin-bottom: 30px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

.contact .btn {
    margin-top: 10px;
    padding: 12px 24px;
    background: #004cff;
    border-radius: 20px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s, color 0.3s, transform 0.3s;
}

/* Animación del botón de contacto */
.contact .btn:hover {
    background: #0a173f;
    transform: scale(1.1);
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}



/* Estilo del pie de página */
footer {
    font-size: 1.1rem;
    background: #141823;
    color: #fff;
    text-align: center;
    padding: 15px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer.p{
    font-size: 1.1rem;
    color: #ddd;
}